section {
    width: 90vw;
    height: 80vh;
    background-color: lime;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

article {
    height: 100%;
}

section article:nth-child(1) img {
    height: 100%;
}

section article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

section article:nth-child(2) a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section article:nth-child(2) h1 {
    font-size: 3rem;
}