section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
    height: 75px;
    width: 90vw;
    background-color: lime;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

article:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    background-color: lime;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tarjeta h3 {
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
}

.tarjeta img {
    height: 300px;
}

.contenedor-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.contenedor-foto a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}